<div class="infos">
  <div class="content">
    <canvas id="chart" width="260" height="260"></canvas>

    <div id="countdown" data-finish="<%= Poll.current.deadline %>" data-finish-label="<%= t '.countdown_label.finish' %>">
      <span class="label top"><%= t '.countdown_label.running_top' %></span>
      <span id="timer"></span>
      <span class="label bottom"><%= t '.countdown_label.running_bottom' %></span>
    </div>
  </div>
</div>
