<% @contestants.each_slice(2) do |contestants| %>
  <div class="row">
    <% contestants.each do |contestant| %>
      <%= content_tag :div, id: "contestant_#{contestant.id}_container", class: 'contestant' do %>
        <%= contestant.avatar %>
        <span class="percentage"></span>
      <% end %>
    <% end %>
  </div>
<% end %>
