$header-color: #00427B;
$link-color: rgb(255, 116, 0);
$button-color: #FFA500;
$button-hover-color: #E49300;
$error-color: rgb(175, 0, 0);

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  background: $header-color;

  ul {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 415px;
    margin: 0 auto;

    li {
      display: inline-block;
      height: 75px;
      width: 100px;
      background: transparent;
      text-align: center;
      padding-top: 25px;
      box-sizing: border-box;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.container {
  width: 500px;
  margin: 50px auto 0;
  color: #4B4B4B;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  p {
    line-height: 25px;
  }

  h1, h2, h3 {
    text-align: center;
    border-bottom: 2px solid #EEEEEE;
    padding-bottom: 5px;
  }

  h1 {
    font-weight: 300;
    font-size: 25pt;
    text-transform: uppercase;
  }

  table {
    width: 100%;

    .image, .image img {
      width: 60px;
    }

    th, td {
      padding: 0 5px;
      text-align: center;

      &:last-child {
        text-align: right;
      }
    }
  }
}

.field {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  display: block;
  color: #fff !important;
  padding: 10px 12px;
  margin-bottom: 0;
  font-size: 16pt;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  font-weight: 700;
  background-color: $button-color;
  background-repeat: repeat-x;
  border: 0;

  &:hover {
    text-decoration: none !important;
    background-color: $button-hover-color;
  }
}

.info-message.error {
  color: $error-color;
  font-weight: 500;
}
