<p id="total_general">
  <%= t '.total', count: @stats.total %>
</p>

<% @stats.contestants.each do |contestant| %>
  <p>
    <%= t '.contestant', contestant: contestant[:name], count: contestant[:votes] %>
  </p>
<% end %>
